*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    color: #717082;
}
  
li {
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.mt-76{
    margin-top: 76px;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.nav_link{
    list-style: none;
    display: flex;
    gap: 36px;
}

.secondary_btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #6C63FF;
}
.primary_btn{
    width: 102px;
    height: 51px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: #6C63FF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.banner_content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner_content_wrapper h1{
    font-style: normal;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #2F2E41;
}
.banner_content_wrapper p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
.clients{
    gap: 102px;
    justify-content: center;
    align-items: center;
}
.learn-more{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #2F2E41;
    background: rgb(255,255,255);
    width: 100px;
    height: 22px;
    border: none;
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(197,194,255,1) 50%);
}


.cards_header{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    color: #2f2e41;
    margin-bottom: 90px;
}
.cards_container{
    align-items: center;
    display: flex;
    margin-bottom: 90px;
    gap: 45px;
    color: #717082;
    justify-content: center;
}
.plans_card{
    align-items: center;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 300px;
    padding: 65px 10px;
    gap: 30px;
    flex-direction: column;
    background: rgb(236,235,255, 0.3);
    border-radius: 7%;
}
.card_btn{
    width: 186px;
    height: 54px;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #6C63FF;
    background: #FFFFFF;
}
.plans_card span {
    font-size: 15px;
    font-weight: 100;
}
.plans_card ul {
    text-align: center;
    line-height: 40px;
}
.plans_card h2 {
    font-size: 35px;
}
#plans_card:hover {
    background: #6c63ff;
    color: white;
    padding: 70px 30px;
    font-size: 20px;
    
}  
#plans_card:hover ul {
    color: white;
} 
.plans_card:hover button {
    background-color: #ffffff;
}


.banner {
    background: #2f2e41;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 70px;
    width: 600px;
    margin: 0 auto;
} 
.banner_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: 20px 10px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Playfair Display";
}
.last_btn {
    width: 186px;
    height: 54px;
    background: #6c63ff;
    border: 1px solid #6c63ff;
    border-radius: 2px;
    font-family: "Open Sans";
    padding: 16px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-align: center;
}


.footer-content {
    background: rgba(236, 235, 255, 0.6);
    flex-direction: column;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    padding: 80px 20px;
}
.product,
.company,
.support,
.social {
    align-self: flex-start;
}
.footer ul {
    line-height: 30px;
}
.footer h3 {
    margin-bottom: 15px;
    color: #2f2e41;
}
i {
    color: #717082;
    background-color: white;
    padding: 10px;
    font-size: 15px;
}
.bottom {
    display: flex;
    padding: 30px 40px;
}
.footer-logo {
    width: 4%;
}
.copyright {
    color: #9893a3;
}
.icon{
   color: rgb(195, 177, 225); 
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}

.box{
    width: 25px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 395px;
}
.line{
    width: 25px;
    background: #6C63FF;
    border-radius: 1px;
    height: 3px;
}
.burger{
    display: none;
}
.cont{
    display: block;
}

.lastpart{
    display: none;
}
.lastpart {
    background: rgba(236, 235, 255, 0.6);
    height: 700px;
}
.lastlist {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 55px;
}
.main-footer-div {
    margin-right: 100px;
    margin-left: 100px;
}
.footer-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2F2E41;
    margin-bottom: 30px;
}
.main-footer-div-info {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin: 0;
    margin-bottom: 20px;
    color: #717082;
}
.lastline {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 10px;
}
.lastinfo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #9893A3;
}

@media only screen and (max-width: 600px) {
    .mobile{
        display: block;
    }
    .burger{
        display: flex;
    }
    .desktop{
        display: none;
    }
    .container{
        width: 90%;
    }
    .banner_content_wrapper h1{
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 50px;
        letter-spacing: -1px;
        color: #2F2E41;
    }
    .clients{
        gap: 40px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    #text2{
        font-size: 40px;
    }

    .cards_container{
        flex-direction: column;
    }

    .banner {
        width: 428px;
        height: 333px;
        flex-direction: column;
    } 
    .banner_text {
        width: 400px;
        height: 106px;
        font-size: 30px;
        text-align: center;
    }

    
    .footer {
        gap: 90px;
        padding: 50px 20px;
        flex-direction: column;
    }
    .btn_container,
    .nav_link{
        display: none;
    }

    *{
        width: fit-content;
    }
    .cont{
        display: none;
    }

    .lastpart{
        display: block;
    }

   
  }

